//plugins {
//	id 'nf-monitor@0.0.1'
//}

process.container = 'quay.io/nextflow/bash'

k8s {
   namespace = 'default'
   //runAsUser = 1000
   serviceAccount = 'nextflow'
   computeResourceType = 'Pod'
   storageClaimName = 'task-pv-claim'
   storageMountPath = '/mnt'
   launchDir = '/mnt'
   workDir = '/mnt'
   autoMountHostPaths = true
}

executor {
  queueSize = 30
}

process {
   executor = 'k8s'
   //pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [automountServiceAccountToken:false]]
}